<!DOCTYPE html>
<html>
  <body>
    <p>This is the Martini-Sessionauth example</p>
    <a href="/private">Try to visit this private link</a><br/>
    <a href="/register">Register</a><br/>
  </body>
</html>
