<!DOCTYPE html>
<html>
  <body>
    <h2>Register</h2>
    <form method="POST">
      <input type="text" placeholder="Username" name="name" /><br />
      <input type="password" placeholder="Password" name="password" />
      <button>Register</button>
    </form>
  </body>
</html>
